.container .list-group {
 padding-top: 20px;
}
.checkbox{
    padding: 50px 0px 50px 30px;
}
.form-check-input:checked + span {
    text-decoration: line-through;
}
.strikethrough:checked + span{
    text-decoration:line-through #056077;
    
    
  }
  .close:hover {
    background-color: #acdee3;
    color: white;
  }
  .close{
      padding-left: 100px;
  }
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #acdee3;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #0c5460b;
    color : white;
  }
  