.container .list-group {
 padding-top: 20px;

}
.list-group-item-info{
    background-color: #75d2fa;
}
.checkbox{
    padding: 50px 0px 50px 30px;
}
.form-check-input:checked + span {
    text-decoration: line-through;
}
.strikethrough:checked + span{
    text-decoration:line-through  #75d2fa;
    
    
  }
  .close:hover {
    background-color: #1b9ad1;
    color: white;
  }
  .close{
      padding-left: 80px;
  }
  .addBtn {
    padding: 5px;
    width: 25%;
    background:  #75d2fa;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-top: 10px;
  }
  
  .addBtn:hover {
    background-color:#1b9ad1;
    color : white;
  }
  #myInput{
      margin: 10px;
  }
  .list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #1b9ad1;
    border-color: #1b9ad1;
}
.list-group-item-info {
    color: #3a3a3a;
    background-color: #75d2fa;
}
  